{#
/**
 * @file wx_autoreply.html.twig
 * Default theme implementation to present Wx autoreply data.
 *
 * This template is used when viewing Wx autoreply pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_wx_autoreply()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('wx_autoreply') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
