{#
/**
 * @file wx_config.html.twig
 * Default theme implementation to present Wx config data.
 *
 * This template is used when viewing Wx config pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_wx_config()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('wx_config') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
