{#
/**
 * @file wx_customer.html.twig
 * Default theme implementation to present Wx customer data.
 *
 * This template is used when viewing Wx customer pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_wx_customer()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('wx_customer') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
