{#
/**
 * @file wx_message.html.twig
 * Default theme implementation to present Wx message data.
 *
 * This template is used when viewing Wx message pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_wx_message()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('wx_message') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
